<html>
<head>
<script type="text/javascript" src="BigInt.min.js"></script>
<script type="text/javascript" src="Barrett.min.js"></script>
<script type="text/javascript" src="RSA_Stripped.js"></script>
<body>
</body>
<form action="submit.do" id="form1" onsubmit="submitForm()">
	<input id="password" type="password" name="password" /> 
	<input type="submit"  value="提交" />
</form>
<script th:inline="javascript">
var bitLength=[[${bitLength}]];//key长度
var modulus=[[${modulus}]];//moduls值
</script>
<script>
	//设置字典长度
	setMaxDigits(265);
	//构造key，这里不需要加解密指数，所以用10001代替
	var key = new RSAKeyPair('10001','10001',modulus,bitLength);
	
	function submitForm() {
		var p=document.getElementById("password");
		var	content=encodeURI(p.value);//URI编码,解析中文问题
		//加密
		var encrypt = encryptedString(key, content, RSAAPP.PKCS1Padding,
				RSAAPP.RawEncoding);
		// 创建一个base-64 编码的 ASCII 字符串
		var password=window.btoa(encrypt);
		p.value = password;
	}
	
</script>
</head>

</html>